window#waybar {
    border-radius: 20px;
    background-color: rgba(29, 32, 18, 0);
}

* {
    color: #98971a;
}

.modules-left > widget {
    border: 0px solid rgba(152, 151, 26, 1);
    border-radius: 25px;
    background-color: rgba(29, 32, 18, 0.6);
}

#workspaces {
    background-color: rgba(29, 32, 18, 0.4);
    border-radius: 25px;
    border: 2px solid rgba(152, 151, 26, 4);
    
}



#workspaces button.active {
    background-color: rgba(37, 47, 18, 0.4);
    border-radius: 40px;
    border: 0px solid rgba(29, 32, 18, 1);
    padding: 0 20px;
    margin: 0 3px;
}

#workspaces button {
    background-color: rgba(29, 32, 18, 0);
    border-radius: 40px;
    padding: 0 5px;
    margin: 0 3px;
}




#battery {
    background-color: rgba(29, 32, 18, 0.8);
    border-radius: 25px;
    border: 2px solid rgba(152, 151, 26, 1);
    padding: 0 8px;
    margin: 0 2px;
}

#clock {
    background-color: rgba(29, 32, 18, 0.8);
    border-radius: 25px;
    border: 2px solid rgba(152, 151, 26, 1);
    padding: 0 8px;
    margin: 0 2px;
}

#pulseaudio {
    background-color: rgba(29, 32, 18, 0.8);
    border-radius: 25px;
    border: 2px solid rgba(152, 151, 26, 1);
    padding: 0 8px;
    margin: 0 2px;
}

#tray {
    background-color: rgba(29, 32, 18, 0.8);
    border-radius: 25px;
    border: 2px solid rgba(152, 151, 26, 1);
    padding: 0 8px;
    margin: 0 2px;
}
